.DS_Store
.vscode
.env
.env.local
.env.development.local
.env.test.local
.env.production.local   
btc_4_all_docs_framework.txt
COMPANY_LOGOS_NEEDED.md
.nojekyll
CSS_AUDIT_REPORT.md
CSS_MIGRATION_PLAN.md
SITE_MOCKUP_101125.jpg